<!DOCTYPE html>
<html ng-app="myApp" id="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="icon" type="image/png" href="/img/farvirate.png" />
    <script src="/libs/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="/libs/angular-1.3.11.js"></script>
    <script src="out.js"></script>

</head>
<body ng-controller="myCtrl">
    <div ng-controller="myController">
        {{msg}}
        <button ng-click="getData()">ABC</button>
    </div>
    <a href="javascript:;" ng-click="iClick($scope)">调用</a>
    <div ng-controller="myController1">
        {{msg1}}
        <button ng-click="getData1()">ABC</button>
        <button id="ibutton">Select {{item}}</button>
    </div>

    <div ng-include="'include/footer.html'" onload="console.log(2);"></div>
    <div ng-include="'include/footer.html'" onload="console.log(2);"></div>
    <script>
        // 1 $(function () { });
        // 2 $(document).ready(function () { });
        // 3 window.onload = function () { }
        // 4. $(document).on('ready', function () { }); 这种方式不行
        jQuery.ajaxSetup({cache:false});
        $(document).ready(function(){
            var otherScope = $('div[ng-controller="myController1"]').scope();   // Get controller's scope
            otherScope.test(); // log 'test'
            console.log(otherScope.list); // log [1,2,3,4,5]
            $('#ibutton').click(function (e) {
                e.preventDefault(); //阻止元素发生默认的行为。如：1当点击提交按钮时阻止对表单的提交，2阻止以下 URL 的链接
                var scope = $(e.target).scope();
                console.log(scope.item) // log item number
                scope.test(); // log 'test'
            })

        });
    </script>
</body>
</html>
